.article-body {
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 2.8rem;
}

.article-body .icon {
    font-size: 3rem;
    color: #888357;
}

.article-body h2 {
    padding-top: .6rem;
    font-size: .4rem;
    color: #888357;
    font-weight: 700;
    letter-spacing: .02rem;
}

.article-body p {
    padding-top: .1rem;
    font-size: .24rem;
    color: #888357;
    font-weight: 100;
    letter-spacing: .02rem;
}

.article-body .youhua {
    width: 100%;
    height: 5rem;
}

img {
    width: 100%;
    height: auto;
}
