.article-body {
    background-color: #fff;
}

.echarts-line {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #333;
    padding: 0.3rem .3rem 0;
}

.echarts-line p {
    font-size: .36rem;
}
